<div class="banner{% if page.layout == 'itinerary'%} banner--itinerary{% endif %}">
  <div class="site-header__offset"></div>
  <div class="banner__bg" style="background-image: url('{{site.img}}/content/{{page.id}}/banner.jpg')"></div>
  <div class="banner__wrap">
    <div class="container container--no-padding">

      {% if page.banner.content %}
        {{page.banner.content | liquify}}
      {% else %}
          {% if page.banner.title-sup %}<h2 class="sub-title">{{page.banner.title-sup}}</h2>{% endif %}
          <h1 class="banner-title">{% if page.banner.title %}{{page.banner.title}}{% else %}{{page.title}}{% endif %}</h1>
          {% if page.banner.title-sub %}<h2 class="sub-title">{{page.banner.title-sub}}</h2>{% endif %}
      {% endif %}

      {% if page.banner.itinerary-details %}
        <div class="vpad--sm title title--xxs">
        {% for detail in page.banner.itinerary-details %}
          <span class="text--medium">{{detail.text}}</span>
          {% unless forloop.last %} | {% endunless %}
        {% endfor %}
        </div>
      {% endif %}

      {% if page.sale %}
        <a href="#section-sale" class="btn btn--orange">View offer</a>
      {% endif %}

    </div>
  </div>
</div>