// general styles for the project that wouldn't be a reuseable component



.page-intro {
  position: relative;
  padding-top: $s8;
  padding-bottom: $s11;
  &__nav {
    border-top: 1px solid rgba($grey-darkest,0.2);
    height: 58px;
    position: absolute;
    width: 100%;
    left: 0;
    bottom: 0;
  }
  &--fade {
    padding-top: $s4;
    &:before {
      content: "";
      position: absolute;
      left: 0; right: 0;
      height: 100px;
      top: -100px;
      background: -moz-linear-gradient(top,  rgba(255,255,255,0) 0%, rgba(255,255,255,1) 100%);
      background: -webkit-linear-gradient(top,  rgba(255,255,255,0) 0%,rgba(255,255,255,1) 100%);
      background: linear-gradient(to bottom,  rgba(255,255,255,0) 0%,rgba(255,255,255,1) 100%);
      filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00ffffff', endColorstr='#ffffff',GradientType=0 );
    }
  }
}



.stop {
  padding-bottom: $s10;
  padding-top: $s10;
  position: relative;
  &:nth-child(even){ background-color: $grey-lighter; }
  & .container { position: relative; z-index: 1; }
  &__title {
    color: $black;
    text-shadow: 0 0 30px $white;
  }
  &__content {
    background-color: $white;
    position: relative;
    text-align: left;
    &:before {
      @include bp($xxl){
        content: "";
        display: block;
        padding-top: 100%;
      }
      @include bp($xxxl){
        padding-top: 66.666666666667%;
      }
    }
    &-inner {
      z-index: $z-content-upper;
      @include page-padding;
      padding: $s4;
      @include bp($xxl){
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        display: flex;
        flex-direction: column;
        justify-content: center;
      }
    }
  }

  &__feature {
    // background-color: $white;
    overflow: hidden;
    position: relative;
    &-title {
      padding-bottom: $s0;
    }
  }

  &__bg {
    position: absolute;
    height: 100%; width: 100%;
    top: 0; left: 0;
    z-index: 0;
    @include background-attributes;
    background-attachment: fixed;
    &:before {
      content: "";
      position: absolute;
      top:0;bottom:0;left:0;right:0;
      background-color: rgba($white,0.8);
    }
  }
}



.cta-banner {
  position: fixed;
  bottom: -100px;
  left: 0; right: 0;
  background-color: rgba($grey-darkest,0.8);
  z-index: $z-content-upper;
  @include transition;
  &.is-stuck {
    bottom: 0;
  }
}



