---
layout: default
---



<!-- INTRO -->
<div class="page-intro">
  <div class="container container--xxl text--center">
    {{page.intro}}
  </div>
  <div class="page-intro__nav">
    {% include nav/page-nav.html %}
  </div>
</div>



<!-- ITINERARY SECTIONS -->
<div class="bg--grey-lightest">

  {% assign stops = site.data.stops %}
  {% for pagestop in page.itinerary %}

  <div id="section-{{pagestop.id}}"></div>
  <div class="stop">
    <div class="container">

      <!-- STOP DETAILS --
        *- Gets data from yml and loops to display -->
      {% assign stop-data = stops | where: 'id', pagestop.id %}
      {% for stop in stop-data %}
      <h2 class="stop__title title title--xxxl text--bolder">{{stop.title}}</h2>
      {% unless pagestop.repeat %}
      <div class="space--lg"></div>
      <div class="row row--xxl-6-6">
        <div class="col">
          <div class="bg-img bg-img--16-9 bg-img--xxl-1-1 bg-img--xxxl-3-2" style="background-image: url({{site.img}}/content/stops/{{stop.id}}.jpg)"></div>
        </div>
        <div class="col">
          <div class="stop__content">
            <div class="stop__content-inner">
              <p class="text--lg">{{stop.content}}</p>
            </div>
          </div>
        </div>
      </div>
      {% endunless %}
      {% endfor %}


      <!-- STAY AND DO -->
      <div class="space--lg"></div>
      <div class="row row--6-6">
        <!-- Stay -->
        <div class="col">
          <div class="stop__feature">
            <h4 class="stop__feature-title title title--xs text--upper text--bold">Stay</h4>
            {% assign hotel = pagestop.hotel %}
            <div class="row row--xxl-6-6 row--no-gutters row--valign-center bg--white">
              <div class="col">
                <div class="bg-img bg-img--21-9 bg-img--lg-16-9" style="background-image: url({{site.img}}/content/hotel/{{hotel.id}}.jpg)"></div>
              </div>
              <div class="col">
                <div class="bg--white boxpad--lg">
                  <h4 class="title title--xxs text--bold">{{hotel.title}}</h4>
                  <div class="space--xxs"></div>
                  <h6 class="title text--sm text--upper text--bold text--lh-xs">{{hotel.subtitle}}</h6>
                </div>
              </div>
            </div>
          </div>
        </div>

        <!-- Do -->
        <div class="col">
          <div class="stop__feature">
            <h4 class="stop__feature-title title title--xs text--upper text--bold">We recommend</h4>

            {% assign activity = pagestop.activity %}
            <div class="row row--xxl-6-6 row--no-gutters row--valign-center bg--white">
              <div class="col">
                <div class="bg-img bg-img--21-9 bg-img--lg-16-9" style="background-image: url({{site.img}}/content/activity/{{activity.id}}.jpg)"></div>
              </div>
              <div class="col">
                <div class="bg--white boxpad--lg">
                  <h4 class="title title--xxs text--bold">{{activity.title}}</h4>
                  <div class="space--xxs"></div>
                  <h6 class="title text--sm text--upper text--bold text--lh-xs">{{activity.subtitle}}</h6>
                </div>
              </div>
            </div>

          </div>
        </div>
      </div>
    </div>

    <div class="stop__bg" style="background-image: url({{site.img}}/content/{{page.id}}/banner.jpg)"></div>
  </div>

  {% endfor %}
</div>



<!-- SALE DETAILS -->
<div id="section-sale"></div>
<div class="bg--grey-darker vpad--lg text--white">
  {% assign sale = page.sale %}
  <div class="container">

    <div class="text--center">
      <h3 class="title title--sm text--medium">View this sale</h3>
      <div class="space--lg"></div>
    </div>
    <div class="text--black">
      {% assign pagesale = site.data.offers | where: 'id', page.sale %}
      {% for offer in pagesale %}
        {% include offer/offer.html %}
      {% endfor %}
    </div>


  </div>
  <div class="space--xxl"></div>
</div>

<div class="cta-banner js-sticky-cta">
  <div class="vpad--xxs text--center">
    <a href="#section-sale" class="btn btn--orange">View sale details</a>
  </div>
</div>


